:root {
  background-color: #f3f4f6;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-height: 100dvh; 
}

#root {
  width: 100%;
  max-width: 480px; 
  min-height: 100dvh;
  background-color: white; 
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); 
  outline: none;
}