@import 'tailwindcss';

@theme {
  --color-primary: #1063f1;
  --color-secondary: #278dfd;
  --color-blue-bg: #f0f6ff;

  --color-gray-900: #1f2023;
  --color-gray-700: #4e5660;
  --color-gray-500: #6e757d;
  --color-gray-400: #a1a6ab;
  --color-gray-300: #c5c8ce;
  --color-gray-100: #eeeff0;
  --color-gray-50: #f4f5f7;

  --color-red: #f04452;

  --color-stock-buy: #e42911;
  --color-stock-sell: #065de0;

  --color-emotion-conviction: #ea4860;
  --color-emotion-greed: #ffe436;
  --color-emotion-calm: #24b2ff;
  --color-emotion-anxiety: #bb5ff8;
  --color-emotion-regret: #747e7f;

  --color-emotion-bg-conviction: #ffebed;
  --color-emotion-bg-greed: #fff9d6;
  --color-emotion-bg-calm: #eef9ff;
  --color-emotion-bg-anxiety: #f6ecfc;
  --color-emotion-bg-regret: #e5e7e7;
}

@font-face {
  font-family: 'Pretendard';
  src: url('./assets/fonts/Pretendard-Regular.woff') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('./assets/fonts/Pretendard-Medium.woff') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('./assets/fonts/Pretendard-SemiBold.woff') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('./assets/fonts/Pretendard-Bold.woff') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@layer base {
  html {
    font-family: 'Pretendard';
    font-size: 16px;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: normal;
  }
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
